@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  display: inline-block;
  margin-left: 14px;
}

p {
  display: inline-block;
  margin-left: 14px;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  margin: 10px;
  background-color: lightseagreen;
}

.card-text {
  width: 260px;
  height: 100%;
  background-color: rgb(173, 173, 77);
}

.no-preview {
  width: 400px;
  height: 200px;
  margin: 10px;
  background-color: lightgray;
}

.preview {
  width: 70px;
  height: 40px;
  background-color: red;
}

.preview-pill {
  width: 140px;
  height: 100px;
  background-color: blue;
}
