@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  background-color: gold;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin: 1px;
}

h3 {
  display: inline-block;
  margin-left: 14px;
}

p {
  display: inline-block;
  margin-left: 14px;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 150px;
  margin: 10px;
  border: 2px dotted #000000;
  border-radius: 12px;
}
/* The paragraph and heading */
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 260px;
  height: 200px;
  line-height: 0px;
  margin-top: 10px;
}

.card-paragraph-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-align: left;
  margin-bottom: 4px;
}
.card-text h4 {
  font-size: 18px;
  padding-left: 14px;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-bottom: 6px;
}

.card-paragraph-date {
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.02rem;
  text-align: left;
  margin-bottom: 3px;
}

/* The preview pill div */
.no-preview {
  width: 400px;
  height: 150px;
  margin: 10px;
  background-color: lightgray;
  border-radius: 12px;
}

.preview-pill {
  text-align: center;
  width: 140px;
  height: 100px;
}

.preview-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #1e90ff;
  background-color: #b0e0e6;
  border-radius: 18px;
  margin-left: 27px;
}
.preview-none {
  visibility: hidden;
  width: 100px;
  height: 20px;
  color: #1e90ff;
  background-color: #b0e0e6;
  border-radius: 5px;
}

.preview-pill img {
  display: inline-block;
  margin-left: 70px;
}

/*  Classes for the  */
.intersection {
  background: #f9b703 url(./images-cards/intersection.svg) no-repeat 8px 50%;
}
.origin {
  background: #f9b703 url(./images-cards/direction-origin.svg) no-repeat 8px 50%;
}

.waypoints {
  background: #f9b703 url(./images-cards/globe-locations-svgrepo-com.svg)
    no-repeat 8px 50%;
  background-size: 32px;
}

.points {
  background: #f9b703 url(./images-cards/points.svg) no-repeat 8px 50%;
  background-size: 32px;
}

.pattern {
  background: #f9b703 url(./images-cards/crossroads.svg) no-repeat 8px 50%;
  background-size: 32px;
}
